* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-width: 100%;
  height: 100%;
}

body {
  margin: 0;
  color: rgb(127, 127, 127);
  font-family: 'Cutive Mono', Menlo, monospace;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app {
  width: 100vmin;
  height: 100vmin;
  margin: auto;
  -webkit-perspective: 512px;
          perspective: 512px;
}

.game {
  position: relative;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  z-index: -1;
}

.grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  font-size: calc(100vmin / 9);
}

.overlay {
  /*position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;*/
  /*background: radial-gradient(transparent, black);*/
}

.tile {
  width: 1em;
  height: 1em;
  text-align: center;
}

.tile:hover {
  background: rgba(255, 255, 255, .1);
}

.log {
  left: 0;
  top: 0;
  position: absolute;
  height: 180px;
}

.log:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-linear-gradient(bottom, black, transparent);
  background: linear-gradient(to top, black, transparent);
}

.log-item {
  line-height: 1.25;
  font-family: Lato, sans-serif;
  font-size: 3vmin;
  color: white;
}

.update-move {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

ul {
  list-style: none;
}

.touchpad.buttons {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  width: 40vmin;
  margin: 2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  opacity: .25;
  padding: 1vmin;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button-wrap {
  padding: 1vmin;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: calc(100% / 2);
}

.button {
  position: relative;
  width: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 100% 0 0;
  background: white;
  border-radius: 1vmin;
  -webkit-transition: .1s;
  transition: .1s;
}

.pressed {
  opacity: .66;
  z-index: 1;
  box-shadow: 0 0 8vmin .5vmin cyan;
}

.button:focus, .button:active {
  box-shadow: 0 0 4vmin cyan;
}
